<!DOCTYPE html>
<html>
<head>
    <title>Build your Data</title>
</head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<body>
    <p id="message"></p>
    <p id="message_1"></p>
    <p id="ids"></p>
    <div id="message_2"></div>
    <input type="text" id="entered_url">
    <input type="text" id="entered_tag" hidden>
    <input type="submit" id="button_1">
    <input type="submit" id="button_2" hidden>
    <input type="submit" id="button_check" >
    <script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>

    

    <script type="text/javascript">
    $('#button_1').click(function(){
        // alert('aazim')
    var catid;
    catid = $('#entered_url').val()
    $.ajax(
    {
        type:"GET",
        url: "/likepost",
        data:{
                 post_id: catid
        },
        success: function( data ) 
        {
            $('#message').text(data['name']);
            $('#message_1').text("classes: ---" + data['tags']);
            $('#ids').text("id: ---" + data['ids']);
            $("#entered_tag").show();
            $("#button_1").hide();
            $("#button_2").show();
        }
     })
});
    $('#button_2').click(function(){
        // alert('aazim')
    var catid;
    catid = $('#entered_url').val()
    tagid = $('#entered_tag').val()
    $.ajax(
    {
        type:"GET",
        url: "/likepost",
        data:{
                 url_input: catid,
                 tag_id: tagid
        },
        success: function( data ) 
        {
            // alert(data['html_data'].length)
            var i;

            $('#example tbody tr').empty()
            var myTable = $('#example').DataTable();
            //      myTable.row.add( [
            //     "aazim"
            // ] ).draw();
            for (i = 0; i < data['html_data'].length; i++) { 
                // text += cars[i] + "<br>";
                // "<p>Text.</p>"
                myTable.row.add([data['html_data'][i]]);
                // $('#message_2').append("<p>"+data['html_data'][i]+"</p>")
                // $('#example tbody').append("<tr role='row' class='odd'><td class='sorting_1'>"+data['html_data'][i]+"</td></tr>")
                // $('#message_2').text(data['html_data'][i]);
            }
            myTable.draw();

        }
     })
});
</script>
<script>
$(document).ready(function() {
    var table = $('#example').DataTable();
    // alert("aazim")
    var selected_rows = []
    $('#example tbody').on( 'click', 'tr', function () {
        $(this).toggleClass('selected');
        var something = $(this).closest('tr').children('td.sorting_1').text();
        // alert(something);
        // selected_rows.push(something)
    } );
 
    $('#button_check').click( function () {
        // alert(table.rows('.selected').data())
        data_ext = table.rows('.selected').data()
        $.each(data_ext, function( index, value ) {
          alert( index + ": " + value );
        });
        // alert( table.rows('.selected').data().length +' row(s) selected' );
    } );
} );
</script>
        <table id="example" class="display">
            <thead>
              <tr><th>Sites</th></tr>
            </thead>
            <tbody>
              <!-- <tr><td>SitePoint</td></tr>
              <tr><td>Learnable</td></tr>
              <tr><td>Flippa</td></tr> -->
            </tbody>
      </table>
</body>
</html>